.parking-container {
  display: grid;
  width: 49rem;
  grid-template-columns: repeat(16, 1fr);
}

.app-place {
  position: relative;
  min-width: 3rem;
  min-height: 6rem;
  border: 1px solid white;
}
.app-place-empty {
  background-color: silver;
}
.app-place-full {
  background-color: yellow;
}
.app-place-path {
  background-color: gray;
}
