.app-container {
  display: flex;
}
.parking-container {
  display: grid;
  width: 49.6vw;
  grid-template-columns: repeat(16, 1fr);
}

.app-place {
  text-align: center;
  position: relative;
  min-width: 3vw;
  min-height: 6vw;
}

.app-place strong {
  font-size: 1vw;
}
.app-place-empty {
  background-color: silver;
  border-left: 0.1vw solid white;
}
.app-place-full {
  background-color: yellow;
  border-left: 0.1vw solid white;
  cursor: pointer;
}
.app-place-full:hover {
  background-color: coral;
  transition: 0.3s;
}
.app-place-path {
  background-color: gray;
}
.ticket-machine {
  display: flex;
  min-width: 48.8vw;
  text-align: center;
}
.ticket-machine-screen {
  max-width: 25vw;
  /* border: 0.1vw solid black; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
}
.ticket-machine-screen img {
  width: 100%;
}
.app-button {
  border: 1px solid gray;
  border-radius: 0.5rem;
  height: 3rem;
  text-align: center;
  background-color: yellow;
  width: 90%;
  bottom: 0px;
  margin: 0.2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  cursor: pointer;
}

.app-button:hover {
  background-color: greenyellow;
  transition: 0.3s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 5px 5px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 6px 10px;
}
.button-disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.button-disabled:hover {
  background-color: #cccccc;
  box-shadow: none;
}
